<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/preloader.js" defer></script>
    <div id="google_translate_element"></div> 
      
    <script type="text/javascript"> 
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element'); 
        } 
    </script> 
      
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
    <title>MediCare</title>
</head>

<body>
    <!-- <div id="preloader"></div> -->
    <div class="nav-bar">
        <img class="backlogo" src="/Images/download.png" width="60" >
        <ul class="nav-but">
            <a href="/"  style="text-decoration:none ;"><li class="lt">Home</li></a>
            <a href="#about" style="text-decoration:none ;"><li class="lt">About</li></a>
           <a href="#services" style="text-decoration:none ;"> <li class="lt">Services</li></a>
            <a href="#contact" style="text-decoration:none ;"><li class="lt">Contact Us</li></a>
        </ul>
    </div>
    <section class="home" id="home">
        
    
        
    
  
</section>

   


<div class="page">
    <div class=background>MediCare</div>
    <div class="welcome">
        <h1>Welcome to Medicare</h1>
        <div class="user">
            <h1>User:</h1>
            <button class="btn" onclick="location='/user'">Sign In</button>
            <button class="btn">Sign Up</button>
        </div>
        <div class="admin">
            <h1>Admin:</h1>
            <button class="btn" onclick="location='/admin'">Sign In</button>
        </div>
    </div>
</div>


<section class="text" id="about">
    <h1 class="head">About Us</h1>
    <p class="para">We at MediCare provide a simplistic software to track and monitor your child's growth and get advice and diagnosis from experts.</p>

</section>
<section class="text" id="services">
    <h1 class="head">Services</h1>
    <p class="para">We provide health survey facilities to parents with reviews and prescriptions from renowned physicians.<br>
    We also allow doctors to analyse medical statistics from different cities.</p>

</section>
<section class="text" id="contact">
    <h1 class="head">Contact Us</h1>
    <p class="para">Phone No: +91 6782568801</p>
    <p class="para">E-Mail: help.medicare@gmail.com</p>
    <p class="para">Address: Office No-69, 10th floor, Adani Tower, Bandra, Mumbai</p>

</section>
    
</body>

</html>