<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <div id="google_translate_element"></div> 
      
    <script type="text/javascript"> 
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element'); 
        } 
    </script> 
      
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>Output</title>
</head>
<body>
    <div class="nav-bar">
        <img class="backlogo" src="/Images/download.png" width="60" >
        <ul class="nav-but">
            <a href="/"  style="text-decoration:none ;"><li class="lt">Home</li></a>
            <a href="#about" style="text-decoration:none ;"><li class="lt">About</li></a>
           <a href="#services" style="text-decoration:none ;"> <li class="lt">Services</li></a>
            <a href="#contact" style="text-decoration:none ;"><li class="lt">Contact Us</li></a>
        </ul>
    </div>
    <div class="comment"><%=item%></div>
    <div class="ref"><%=item2%></div>

</body>
</html>