@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.nav-bar{
    display: inline-flex;
  
    width: 100%;
    
    background-color: rgba(150, 223, 255, 0.611);

}

.nav-but{
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: 40rem;
    cursor: pointer;
    
}

.backlogo{
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 5rem;
    
}

.lt{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    color: black;


}

.search{
    text-align: center;
}

.text{
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    text-align: center;
}

.bar{
    height:60px;
    width:500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit{
    width: 120px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(150, 223, 255, 0.611);
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 30px;
}

.city{
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;
}

.item{
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;
    font-size: 20px;
}